<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>

<div class="panel panel-default">
    <div class="panel-heading">流水每日金额汇总</div>
    <table class="table">
        <th>remarks</th><th>money </th>
{#        这里要用到for循环#}
        <tr><td>产品 A</td><td>200</td></tr>

    </table>
</div>
{#<script src="{% static 'JS/jquery-3.1.1.js' %}">#}
{#<script src="/static/js/jquery-3.2.1.min.js">#}

<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>

</script>

</body>
</html>