<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>GetDetail</title>
</head>
<body>


<div class="panel panel-default">
    <div class="panel-heading">detail of bill tips</div>
    <div class="container col-md-offset-6 col-md-6">
        <div class="row">
            <form class="form-horizontal" action="" method="">

                <div class="form-group">
                    <label for="money" class="col-sm-2">start_time</label>
                    <div class="col-sm-3"><input id="start_time" class="form-control" type="date" name="money"></div>
                    <label for="remarks" class="col-sm-2">end_time</label>
                    <div class="col-sm-3"><input type="date" class="form-control" id="end_time" name="remarks"></div>
                    <button value="submit" type="button" class="btn btn-primary">submit</button>
                </div>
            </form>
        </div>
    </div>
    <table class="table">
        <th>time</th>
        <th>remarks</th>
        <th>money</th>
    </table>
</div>


<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
    $(".btn").click(function () {
        $.ajax({
            url: "/api/v1/get_detail/",
            type: "POST",
            dataType: "json",
            data: {
                start_time: $("#start_time").val(),
                end_time: $("#end_time").val(),
                csrfmiddlewaretoken: '{{csrf_token}}',
            },
            success: function (data) {
                if (data.code === 201) {
                    $.each(data.data_detail, function (digit, recive_data) {
                        let tr_tag = document.createElement("tr");
                        let td_time = document.createElement("td");
                        let td_remarks = document.createElement("td");
                        let td_money = document.createElement("td");
                        $(tr_tag).appendTo("table");
                        $(td_time).text(recive_data.time);
                        $(td_remarks).text(recive_data.remarks);
                        $(td_money).text(recive_data.money);
                        $(tr_tag).append(td_time);
                        $(tr_tag).append(td_remarks);
                        $(tr_tag).append(td_money);
                    });
                    let tr_tag = document.createElement("tr");
                    let td_total_tag = document.createElement("td");
                    let td_num_tag = document.createElement("td");
                    $(tr_tag).appendTo("table");
                    $(td_total_tag).text("total");
                    $(td_total_tag).css({"font-size": "30px"});
                    $(td_num_tag).text(data.total);
                    $(td_num_tag).css({"font-size": "30px"});
                    $(tr_tag).append(td_total_tag);
                    $(tr_tag).append(td_num_tag);
                }
            },
            error: function (errorMsg) {
                //console.log(errorMsg,"there is fore-end error: something was wrong ,please check out!")
		alert(errorMsg, "there is fore-end error: something was wrong ,please check out!")
            }
        })
    })

</script>

</body>
</html>
