<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>

<div class="container col-md-offset-3 col-md-6">
    <div class="row">
        <form class="form-horizontal" action="" method="">

            <div class="form-group">
                <label for="money" class="col-sm-2">money</label>
                <div class="col-sm-10"><input id="money" class="form-control" type="text" name="money"></div>
            </div>

            <div class="form-group">
                <label for="remarks" class="col-sm-2">remarks</label>
                <div class="col-sm-10"><input type="text" class="form-control" id="remarks" name="remarks"></div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button value="submit" type="button" class="btn btn-primary">submit</button>
                </div>
            </div>

        </form>
    </div>
</div>

<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
    //Response.header("Access-Control-Allow-Origin","*");
    timestamp = new Date().getTime();
    //对于输入的内容在前端也可以进行校验，看你自己选择用什么方式
    $(".btn").click(function () {
        $.ajax({
            url: "http://127.0.0.1:8000/api/v1/input/",
            dataType: "json",
            type: "POST",
            data: {
                money: $("#money").val(),
                remarks: $("#remarks").val(),
                time: timestamp,
                csrfmiddlewaretoken: '{{csrf_token}}',
            },
            success: function (data) {
                alert("congratulations! you just wrote a tip of bill list")
            },
            error: function (XMLHttpRequest,arg,response) {
                    alert("something was wrong,checkout again")
            }

        })
    })
</script>

</body>
</html>