<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>login</title>
</head>
<body>

<div class="container col-md-offset-3 col-md-6">
    <div class="row">
        <form class="form-horizontal" action="" method="">

            <div class="form-group">
                <label for="name" class="col-sm-2">username</label>
                <div class="col-sm-10"><input id="name" class="form-control" type="text" name="user" placeholder="用户名">
                </div>
            </div>

            <div class="form-group">
                <label for="pwd" class="col-sm-2">password</label>
                <div class="col-sm-10"><input type="password" class="form-control" id="pwd" name="pwd" placeholder="密码">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button value="submit" type="button" class="btn btn-primary">submit</button>
                </div>
            </div>

        </form>
    </div>
</div>

<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
    $(".btn").click(function () {
        try {
            $.ajax({
                url: "http://127.0.0.1:8000/api/v1/login/",
                type: "POST",
                dataType: "json",
                data: {
                    username: $("#name").val(),
                    pwd: $("#pwd").val(),
                    csrfmiddlewaretoken: '{{csrf_token}}',
                },
                success: function (data) {
                    if (data.code === 500) {
                        $("#name").val("");
                        $("#pwd").val("");
                    }
                    alert(data.msg,"request was congratulations!");
                },
                error: function (XMLHttpRequest, arg, response) {
                    alert("something was wrong,checkout again")
                },
                complete: function (XMLHttpRequest, data) {
                }
            })
        } catch (e) {
            alert(e)
        }

    })
</script>
</body>
</html>