<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>

<div class="container col-md-offset-3 col-md-6">
    <div class="row">
        <form class="form-horizontal" action="" method="">
            <div class="form-group">
                <label for="name" class="col-sm-2">username</label>
                <div class="col-sm-10"><input id="name" class="form-control" type="text" name="user" placeholder="用户名">
                </div>
            </div>

            <div class="form-group">
                <label for="pwd" class="col-sm-2">password</label>
                <div class="col-sm-10"><input type="password" class="form-control" id="pwd" name="pwd" placeholder="密码">
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-2">re_password</label>
                <div class="col-sm-10"><input id="re_password" class="form-control" type="password" name="re_password"
                                              placeholder="确认密码"></div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">phone_num</label>
                <div class="col-sm-10"><input id="phone_num" class="form-control" type="text" name="phone_num"
                                              placeholder="手机号"></div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">gender</label>
                <div class="col-sm-3" id="gender">
                    <input id="male" type="radio" name="gender" value="male">&nbspMale &nbsp&nbsp
                    <input id="female" type="radio" name="gender" value="female">&nbspFemale
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">age</label>
                <div class="col-sm-3"><input id="age" class="form-control" type="text" name="age" placeholder="年龄">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">job</label>
                <div class="col-sm-10"><input id="job" class="form-control" type="text" name="job" placeholder="职业">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2">salary</label>
                <div class="col-sm-3">
                    <select name="salary" id="salary" class="form-control">
                        <option value="<2000"><2000</option>
                        <option value="2000-5000">2000-5000</option>
                        <option value="5000-8000">5000-8000</option>
                        <option value="8000-10000">8000-10000</option>
                        <option value="10000<">10000<</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button value="submit" type="button" class="btn btn-primary">submit</button>
                </div>
            </div>

        </form>
    </div>
</div>


<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
    let female = $("#female");
    let male = $("#male");
    male.click(function () {
            $(this).attr("checked", "checked");
            if (male.prop("checked")) {
                female.removeAttr("checked")
            }
        }
    );

    female.click(function () {
        $(this).attr("checked", "checked");
        if (female.prop("checked")) {
            male.removeAttr("checked")
        }
    });

    function get_gender() {
        if (male.prop("checked")) {
            return male.val()
        } else if (female.prop("checked")) {
            return female.val()
        }
    }

    $(".btn").click(function () {
        $.ajax({
            url: "http://127.0.0.1:8000/register/",
            method: "POST",
            dataType: "json",
            data: {
                username: $("#name").val(),
                pwd: $("#pwd").val(),
                re_pwd: $("#re_password").val(),
                phone_num: $("#phone_num").val(),
                gender: get_gender(),
                age: $("#age").val(),
                job: $("#job").val(),
                salary: $("#salary").val(),
                csrfmiddlewaretoken: '{{csrf_token}}',
            },
            success: function (data) {
                console.log(data, typeof(data));
                console.log("congratulations!")
            },
            error: function (data) {
                console.log(data, typeof(data));
                $("#name").val(data.username);
                $("#pwd").val(data.phone_num);
                $("#re_password").val(data.pwd);
                $("#phone_num").val(data.re_pwd);
                //$("#gender").val(data.gender);
                $("#age").val(data.age);
                $("#job").val(data.job);
                $("#salary").val(data.salary);
            }
        })
    })
</script>

</body>
</html>